@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Kanit;
    margin: 0;
    padding: 0%;
    background-color: #CAE6B2;
}


.h{
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    text-align: justify;
    background-image: url("https://www.timeforkids.com/wp-content/uploads/2024/01/coral_1.jpg?w=1024/sunset.png");
    background-position: center center;
    background-size: cover;
    background-position: center;
    z-index: -1;

}

.h h1{
    text-align: center;
    padding-bottom: 10%;
    position: relative;
}

.naf-bekron{
    background-color: #FFF6B3;
}

.nap{
    background-color: #66D2CE;
    padding: 10px;

}

.nap ul li{
    display: block;
    display: inline;
    padding: 14%;
    
}

.nap ul li a{
    text-decoration: none;
    color: #4A628A;
    transition: ease-in-out ;
    background-color: #DFF2EB; 
    border-radius: 5px;
    padding: 10px;
}

.nap ul li a:hover{
    text-decoration: none;
    background-color: #4A628A;
    color: #EAEAEA;
    padding: 0.9em;
    border-radius: 7px;
    transition: padding 0.7s ease;
}

.k1{
    background-color: #155E95;
    border-radius: 4%;
    padding: 10px;
}

.k1 h2{
    background-color: #6A80B9;
    border-radius: 9%;
    padding: 10px;
    color: #F6C794;
}

.k1 img{
    border-radius: 30px;
    width: 50%;
    justify-content: center;     
}

.k1 p{
    color: #FFF6B3;
}

.k2{
    background-color: #155E95;
    border-radius: 4%;
    padding: 10px;
    margin-top: 180px;
}

.k2 h2{
    background-color: #6A80B9;
    border-radius: 9%;
    padding: 10px;
    color: #F6C794;
}

.k2 img{
    border-radius: 30px;
    width: 50%;
    justify-content: center;     
}


.k2 p{
    color: #FFF6B3;
}


.k3{
    background-color: #155E95;
    border-radius: 4%;
    padding: 10px;
    margin-top: 180px;
}

.k3 h2{
    background-color: #6A80B9;
    border-radius: 9%;
    padding: 10px;
    color: #F6C794;
}



.k3 p{
    color: #FFF6B3;
}

.k3 img{
    border-radius: 30px;
    width: 50%;
    justify-content: center;     
}


.main1{  
    text-align: justify;
    color: white;
    margin: 50px;
    padding: 30px;
    border-radius: 30px;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    background-color: #FFF6B3
}

.footer{
    font-size: 25px;
    text-align: center;
    background-color: #3674B5;
    color: #D1F8EF;
    padding: 5px;
}

.footer ul li{
    display: block;
    text-align: right;
    margin: 10px;
    border-radius: 6px;
    margin-left: 130px;
}